*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
p{
    background-color:whitesmoke;

}
#offoff{
    margin-top: 10%;
    margin-left: 40%;
}
#offoff:hover{
    border: 3px solid gold;
}
#butt1{
    position: relative;
    margin-left: 39%;
    letter-spacing: 10px;
    padding: 12px;
    background-color: yellow;
    font-size: 16px;
    border-radius: 10px;


}
#butt2{
    position: relative;
    margin-right: 40%;
    letter-spacing: 10px;
    padding: 11px;
    background-color: yellow;
    font-size: 16px;
    border-radius: 10px;
}
#butt1:hover{
    background-color: green;
    border: 2px solid silver;
    border-radius: 10px;
    text-decoration: none;
}
#butt2:hover{
    background-color: red;
    border: 2px solid silver;
    border-radius: 10px;
    text-decoration: none;

}